/* GLOBAL */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  /* background-color: lightcoral; */
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.point {
  height: 51px;
}

@media (min-width: 768px) {
  .header .header_bar .navbar {
    border: none;
    height: 8vh;
  }
}

@media (min-width: 968px) {
  .header .header_bar .navbar {
    background-color: transparent;
    height: 12vh;
    padding-top: 20px;
  }
}

.header .header_bar .navbar .logo-obubble {
  height: 30px;
  width: auto;
  padding: 0;
  position: relative;
  bottom: 5px;
}

@media (min-width: 768px) {
  .header .header_bar .navbar .logo-obubble {
    height: 40px;
    top: 7px;
  }
}

@media (min-width: 968px) {
  .header .header_bar .navbar .logo-obubble {
    height: 50px;
    right: 100px;
  }
}

@media (min-width: 768px) {
  .header .header_bar .navbar div ul {
    font-size: 1.3em;
  }
}

.header .header_bar .navbar .navbar-collapse {
  text-align: center;
}

@media (min-width: 768px) {
  .header .header_bar .navbar .navbar-collapse {
    position: relative;
    top: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 968px) {
  .header .header_bar .navbar .navbar-collapse {
    padding-right: 0;
    padding-top: 5px;
    right: -100px;
  }
}

.header .header_bar .navbar .navbar-collapse ul li a {
  font-size: 1.1em;
  color: #fff;
}

@media (min-width: 968px) {
  .header .header_bar .navbar .navbar-collapse ul li a {
    margin: auto 20px;
  }
}

.header .header_bar .navbar .navbar-collapse ul li a:hover {
  color: #fff;
}

.footer {
  background-color: #28272c;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer .opening_hours h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .footer .opening_hours h3 {
    font-size: 2.3rem;
  }
}

@media (min-width: 968px) {
  .footer .opening_hours h3 {
    font-size: 2.6rem;
  }
}

.footer .opening_hours p.horairesMobilesTablets {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .footer .opening_hours p.horairesMobilesTablets {
    font-size: 1.7rem;
    line-height: 180%;
  }
}

@media (min-width: 968px) {
  .footer .opening_hours p.horairesMobilesTablets {
    display: none;
  }
}

.footer .opening_hours .horairesDesktop {
  display: none;
}

@media (min-width: 968px) {
  .footer .opening_hours .horairesDesktop {
    display: block;
    font-size: 1.8rem;
    line-height: 180%;
  }
}

.footer .opening_hours .phone {
  color: #91c9dc;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.footer .icon {
  width: 15%;
  height: auto;
  margin: 20px 10px;
}

@media (min-width: 768px) {
  .footer .icon {
    width: 9%;
  }
}

@media (min-width: 968px) {
  .footer .icon {
    width: 5%;
    margin-left: 3em;
    margin-right: 3em;
  }
}

.footer .glyphicon {
  font-size: 20px;
  margin-top: 20px;
  color: #91c9dc;
  height: 4rem;
}

.footer .glyphicon:hover {
  font-size: 33px;
}

.copyrights {
  margin: 20px auto;
}

[class*="reveal-"] {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 1.4s cubic-bezier(0.59, 0, 0.02, 0.99);
  transition: 1.4s cubic-bezier(0.59, 0, 0.02, 0.99);
}

@media (min-width: 1024px) {
  .reveal-2 {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  .reveal-3 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .reveal-4 {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .reveal-5 {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
}
/*# sourceMappingURL=style-all.css.map */