//---------------------  PALETTE  ---------------------//
$colors: (
  primary: #deae3c
);

$padding-img: 12px; //why not give percentage but pixels ?
$borders: 15px;
$margin: 25px;
$iphone6: 375px;
$iphone6plus: 414px;
$iphoneX-height: 812px;
$iPad: 768px;
$desktop: 1024px;
$screen: 1300px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin responsive($media) {
  //----------------- Apple devices -----------------//
  @if $media == iphoneSE {
    @media (min-width: 320px) /*and (min-height: 568px) */ {
      @content;
    }
  } @else if $media == iphone6 {
    @media (min-width: 375px) /*and (min-height: 667px) */ {
      @content;
    }
  } @else if $media == iphone6plus {
    @media (min-width: 414px) /*and (min-height: 736px) */ {
      @content;
    }
  } @else if $media == iphoneX {
    @media (min-width: 375px) and (min-height: 812px) {
      @content;
    }
  } @else if $media == iPad {
    @media (min-width: 768px) {
      @content;
    }
  }

  //----------------- Android devices -----------------//
  @else if $media == galaxyS5 {
    @media (min-width: 350px) and (min-height: 640px) {
      @content;
    }

    //----------------- Other devices -----------------//

  } @else if $media == desktop {
    @media (min-width: 968px) {
      @content;
    }
  } @else if $media == tvScreen {
    @media (min-width: 1300px) {
      @content;
    }
  }
  // @else if $media == ios {
  //   @media (min-width: 768px) and (min-height: 1024px) { @content; }
  //   @media (min-width: 320px) and (min-height: 480px) { @content; }
  // }
}


html, body {
    background-color: #273041;
    z-index: 0;
   
}

.menu{
    background-image: url(../img-obubble/ardoise-bleue.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    margin-top : 9vh;
    height: 96vh;
    opacity: 0.9;
    z-index: -1;
    
    .test {
        color: black;
        text-align: center;
    }
}

.footer{
    margin-top: 0;
}