html,
body {
  background-color: #273041;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 48, 65, 0.5))), url(../img-obubble/ardoise-ms.png);
  background: linear-gradient(rgba(39, 48, 65, 0.5)), url(../img-obubble/ardoise-ms.png);
  background-size: cover;
  background-size: 100%;
}

.category {
  border: 1px solid white;
  margin: 0 10px -1px;
}

.category .title h1 {
  color: white;
  padding-left: 0px;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffc001;
}

@media (min-width: 768px) {
  .category .title h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 960px) {
  .category .title h1 {
    font-size: 2em;
    margin-top: auto;
  }
}

.category .title img {
  width: 15%;
  display: inline-block;
}

.category .title span {
  float: right;
  color: white;
  position: relative;
  top: 1.3em;
  right: 1.1em;
}

@media (min-width: 768px) {
  .category .title span {
    font-size: 1.5em;
    right: 1.8em;
  }
}

#formules .title h1 {
  color: white;
  padding-left: 0px;
  display: inline-block;
  font-size: 1.3em;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffc001;
}

@media (min-width: 960px) {
  #formules .title h1 {
    font-size: 1.8em;
    position: relative;
    right: 7px;
  }
}

#formules .title img {
  width: 15%;
}

@media (min-width: 768px) {
  #formules .title img {
    width: 10%;
  }
}

#bubbleTea .title h1 {
  color: #5b98de;
  position: relative;
  left: 10px;
}

#bubbleTea .title img {
  width: 13%;
  padding-bottom: 1em;
  position: relative;
  left: 0.2em;
  top: 0.3em;
  margin-right: 0.4em;
}

@media (min-width: 768px) {
  #bubbleTea .title img {
    width: 8%;
  }
}

#smoothies .title .smoothies-only {
  color: #dd7fd2;
}

@media (min-width: 375px) {
  #smoothies .title .smoothies-only {
    display: none;
  }
}

#smoothies .title .smoothies-and-milkshakes {
  color: #dd7fd2;
  display: none;
}

@media (min-width: 375px) {
  #smoothies .title .smoothies-and-milkshakes {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  #smoothies .title .smoothies-and-milkshakes {
    position: relative;
    left: 10px;
  }
}

#smoothies .title img {
  width: 13%;
  padding-bottom: 1em;
  position: relative;
  top: 0.3em;
  left: 0.2em;
  margin-right: 0.4em;
}

@media (min-width: 768px) {
  #smoothies .title img {
    width: 8%;
  }
}

#chauds .title h1 {
  color: #dd5353;
  position: relative;
  left: 10px;
}

#chauds .title img {
  width: 13%;
  padding-bottom: 1em;
  position: relative;
  left: 0.2em;
  margin-right: 0.4em;
}

@media (min-width: 768px) {
  #chauds .title img {
    width: 8%;
  }
}

#manger .title h1 {
  color: #fead3a;
  position: relative;
  left: 1rem;
}

@media (min-width: 768px) {
  #manger .title h1 {
    left: 20px;
  }
}

#manger .title img {
  width: 10%;
  padding-bottom: 1em;
  position: relative;
  left: 0.7em;
  margin-right: 0.4em;
}

@media (min-width: 768px) {
  #manger .title img {
    width: 5.5%;
    right: 100px;
    margin: 10px 10px 10px 5px;
  }
}

.formules-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2em;
}

.formules-content .menuSmall hr {
  border-top: 1px dashed #9f9a8d;
  width: 90%;
  padding-top: 0.5em;
}

.formules-content .menuSmall h1 {
  color: #ffc001;
  font-size: 1.2em;
  text-align: center;
  text-transform: uppercase;
}

.formules-content .menuSmall img {
  width: 60%;
  display: block;
  margin: auto;
}

@media (min-width: 768px) {
  .formules-content .menuSmall {
    display: none;
  }
}

.formules-content .menuLarge {
  display: none;
}

@media (min-width: 768px) {
  .formules-content .menuLarge {
    display: block;
  }
}

.bubbleTea-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

.bubbleTea-content .menuSmall img {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (min-width: 768px) {
  .bubbleTea-content .menuSmall {
    display: none;
  }
}

.bubbleTea-content .menuLarge {
  display: none;
}

@media (min-width: 768px) {
  .bubbleTea-content .menuLarge {
    display: block;
  }
}

.smoothies-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 1em;
}

.smoothies-content .menuSmall h2 {
  color: lightgrey;
  font-size: 1.3em;
}

.smoothies-content .menuSmall img {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (min-width: 768px) {
  .smoothies-content .menuSmall {
    display: none;
  }
}

.smoothies-content .menuLarge {
  display: none;
}

@media (min-width: 768px) {
  .smoothies-content .menuLarge {
    display: block;
  }
}

.chauds-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}

.chauds-content .menuSmall h2 {
  color: lightgrey;
  font-size: 1.3em;
}

.chauds-content .menuSmall img {
  width: 100%;
  display: block;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (min-width: 768px) {
  .chauds-content .menuSmall {
    display: none;
  }
}

.chauds-content .menuLarge {
  display: none;
}

@media (min-width: 768px) {
  .chauds-content .menuLarge {
    display: block;
  }
}

.manger-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
}

.manger-content .menuSmall h2 {
  color: lightgrey;
  font-size: 1.3em;
}

.manger-content .menuSmall img {
  width: 100%;
  display: block;
  margin: auto;
  padding-bottom: 0.5em;
}

@media (min-width: 768px) {
  .manger-content .menuSmall {
    display: none;
  }
}

.manger-content .menuLarge {
  display: none;
}

@media (min-width: 768px) {
  .manger-content .menuLarge {
    display: block;
  }
}

.closed {
  display: none;
}

.footer {
  margin-top: 2em;
}
/*# sourceMappingURL=style-menu.css.map */