$colors: (
  primary: #deae3c,
  secondary: #28272c,
  sky-blue: #91c9dc
);

/* GLOBAL */

$padding-img: 12px; //why not give percentage but pixels ?
$borders: 15px;
$margin: 25px;
$ipad: 768px;
$desktop: 1024px;
$screen: 1300px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin responsive($media) {
  //----------------- Mobiles : until 767px  -----------------//
  @if $media == iphoneSE {
    @media (min-width: 320px) /*and (min-height: 568px) */ {
      @content;
    }
  } @else if $media == iphone6 {
    @media (min-width: 375px) /*and (min-height: 667px) */ {
      @content;
    }
  } @else if $media == iphone6plus {
    @media (min-width: 414px) /*and (min-height: 736px) */ {
      @content;
    }
  } @else if $media == iphoneX {
    @media (min-width: 375px) and (min-height: 812px) {
      @content;
    }
  } @else if $media == galaxyS5 {
    @media (min-width: 350px) and (min-height: 640px) {
      @content;
    }
  }

  //----------------- Tablets : from 768px  -----------------//
  @else if $media == iPad {
    @media (min-width: 768px) {
      @content;
    }
  }

  //----------------- Desktop : from 960px -----------------//

  @else if $media == desktop {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $media == iPadPro {
    @media (min-width: 1024px) and (min-height: 1366px) {
      @content;
    }
  } @else if $media == tvScreen {
    @media (min-width: 1300px) {
      @content;
    }
  }
}

//---------------------  GLOBAL  ---------------------//

@import url("https://fonts.googleapis.com/css?family=Nunito:400,800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  // background-color: lightcoral;
  font-family: "Nunito", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.point {
  height: 51px;
  @include responsive(desktop) {
    // height: 1px;
  }
}

// .navbar{
//   background-color: transparent;
// }

//---------------------  HEADER (1/2)  ---------------------//
.header {
  .header_bar {
    .navbar,
    .navbar-inverse {
      @include responsive(iPad) {
        border: none;
        height: 8vh;
        // position: absolute;
      }
      @include responsive(desktop) {
        background-color: transparent; //rend la navar complètement transparente
        height: 12vh;
        padding-top: 20px;
        // position: fixed;
        // z-index: 1;
      }
      .navbar-brand {
        .logo-obubble {
          height: 30px;
          width: auto;
          padding: 0;
          position: relative;
          bottom: 5px;
          @include responsive(iPad) {
            height: 40px;
            top: 7px;
          }
          @include responsive(desktop) {
            // border: 1px solid black;
            height: 50px;
          }
        }
        @include responsive(desktop) {
          // border: 5px solid purple; background-color: lightgreen;
        }
      }
      #monMenu {
        text-align: center;
        @include responsive(iPad) {
          position: relative;
          top: 20px;
          padding-right: 20px;
        }
        @include responsive(desktop) {
          padding-right: 0;
          padding-top: 5px;
        }
        ul {
          li a {
            font-size: 1.1em;
            color: #fff;
            @include responsive(desktop) {
              margin: auto 20px;
              // color: green;
              font-size: 1.3em;
            }
          }
          li a:hover {
            color: rgba(211, 211, 211, 0.8);
          }
        }
      }
    }
  }
}

//when activated, this id style below keeps the header non-sticky and
//at the top providing you remove the navbar-fixed-top from the id="navbar".
// @include responsive(desktop) {
//   #header {
//     height: 10vh;
//     //   background-color: #a6a6a6;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1;
//   }
// }
//but for some reason, this new id style above wouldn't apply, so I created the class
// to be added right below (see responsive.js) with ".removeStickyFromHeader":

.removeStickyFromHeader {
  height: 10vh;
  //   background-color: #a6a6a6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

// .navbar {
//   @include responsive(iPad) {
//   }
// }
//---------------------  FOOTER (2/2) ---------------------//
.footer {
  background-color: #28272c;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // padding-top: 5rem;
  .opening_hours {
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      @include responsive(iPad) {
        font-size: 2.3rem;
      }
      @include responsive(desktop) {
        font-size: 2.6rem;
      }
    }
    p.horairesMobilesTablets {
      font-size: 1.5rem;
      @include responsive(iPad) {
        font-size: 1.7rem;
        line-height: 180%;
      }
      @include responsive(desktop) {
        display: none;
      }
    }
    .horairesDesktop {
      display: none;
      @include responsive(desktop) {
        display: block;
        font-size: 1.8rem;
        line-height: 180%;
      }
    }
    .phone {
      color: #91c9dc;
      text-decoration-style: none;
    }
  }
  .icon {
    //social media icons
    width: 15%;
    height: auto;
    margin: 20px 10px;

    @include responsive(iPad) {
      width: 9%;
    }
    @include responsive(desktop) {
      width: 5%;
      margin-left: 3em;
      margin-right: 3em;
    }
  }
  .glyphicon {
    //arrow pointup upwards
    font-size: 20px;
    margin-top: 20px;
    color: color(sky-blue);
    height: 4rem; //retire ça et hoover le desktop et tu verras pourquoi c'est important de le rajouter
  }
  .glyphicon:hover {
    font-size: 33px;
  }
}

.copyrights {
  margin: 20px auto;
}

//---------------------  EFFETS FADE-IN  ---------------------//

[class*="reveal-"] {
  // opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1.4s cubic-bezier(0.59, 0, 0.02, 0.99);
}
