//---------------------  PALETTE  ---------------------//
$colors: (
  primary: #deae3c,
  formules-color: #ffc001,
  dashed-color: #9f9a8d
);

$padding-img: 12px; //why not give percentage but pixels ?
$borders: 15px;
$margin: 25px;
$iphone6: 375px;
$iphone6plus: 414px;
$iphoneX-height: 812px;
$iPad: 768px;
$desktop: 1024px;
$screen: 1300px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin responsive($media) {
  //----------------- Apple devices -----------------//
  @if $media == iphoneSE {
    @media (min-width: 320px) /*and (min-height: 568px) */ {
      @content;
    }
  } @else if $media == iphone6 {
    @media (min-width: 375px) /*and (min-height: 667px) */ {
      @content;
    }
  } @else if $media == iphone6plus {
    @media (min-width: 414px) /*and (min-height: 736px) */ {
      @content;
    }
  } @else if $media == iphoneX {
    @media (min-width: 375px) and (min-height: 812px) {
      @content;
    }
  } @else if $media == iPad {
    @media (min-width: 768px) {
      @content;
    }
  }

  //----------------- Android devices -----------------//
  @else if $media == galaxyS5 {
    @media (min-width: 350px) and (min-height: 640px) {
      @content;
    }

    //----------------- Other devices -----------------//
  } @else if $media == desktop {
    @media (min-width: 968px) {
      @content;
    }
  } @else if $media == tvScreen {
    @media (min-width: 1300px) {
      @content;
    }
  }
  // @else if $media == ios {
  //   @media (min-width: 768px) and (min-height: 1024px) { @content; }
  //   @media (min-width: 320px) and (min-height: 480px) { @content; }
  // }
}

html,
body {
  background-color: #273041;
  // background: linear-gradient( rgba(0, 0, 0, 0.3)), url(../img-obubble/ardoise-bleue.jpg);
}

// .menu{
//     background-image: url(../img-obubble/ardoise-bleue.jpg);
//     background-repeat: repeat;
//     background-attachment: fixed;
//     margin-top : 9vh;
//     height: 96vh;
//     color: #fff;

//     .category{
//         border: 1px solid white;
//         width: 90%;
//         margin: auto;
//         h1 {
//             display: inline-block;
//             padding-left: 1rem;
//             font-size: 0.5rem;

//         }
//     }
// }

// .formulesMaison{
// }

// .footer {
//     margin-top: 0;
// }

.category {
  border: 1px solid white;
  margin: 0 10px -1px;
  .title {
    img {
      width: 15%;
      display: inline-block;
    }
    h1 {
      color: white;
      padding-left: 0px;
      // border: 1px solid white;
      display: inline-block;
      font-size: 1.3em;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffc001;
    }
    span {
      float: right;
      color: white;
      position: relative;
      top: 1.3em;
      right: 1.1em;
    }
  }
}

//--------------------- CATEGORY TITLES ---------------------//

//way smarter here below to specify the general .category class template by adding an #id to each one of them.

#bubbleTea .title {
  h1 {
    color: #5b98de;
  }
  img {
    width: 13%;
    padding-bottom: 1em;
    position: relative;
    left: 0.2em;
    top: 0.3em;
    margin-right: 0.4em;
  }
}

#smoothies .title {
  .smoothies-only {
    color: #dd7fd2;
    @include responsive(iphone6) {
      display: none;
    }
  }

  .smoothies-and-milkshakes {
    color: #dd7fd2;
    display: none;
    @include responsive(iphone6) {
      display: inline-block;
    }
  }

  img {
    width: 13%;
    padding-bottom: 1em;
    position: relative;
    top: 0.3em;
    left: 0.2em;
    margin-right: 0.4em;
  }
}

#chauds .title {
  h1 {
    color: #dd5353;
  }
  img {
    width: 13%;
    padding-bottom: 1em;
    position: relative;
    left: 0.2em;
    margin-right: 0.4em;
  }
}

#manger .title {
  h1 {
    color: #fead3a;
    position: relative;
    left: 1rem;
  }
  img {
    width: 10%;
    padding-bottom: 1em;
    position: relative;
    left: 0.7em;
    margin-right: 0.4em;
  }
}

//--------------------- CATEGORY CONTENT ---------------------//

.formules-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2em;
  hr {
    border-top: 1px dashed color(dashed-color);
    width: 80%;
    padding-top: 0.5em;
  }
  h1 {
    color: color(formules-color);
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
  }
  img {
    width: 60%;
    display: block;
    margin: auto;
  }
}

.bubbleTea-content {
  display: flex;
  justify-content: space-around;
  h2 {
    color: lightgrey;
    font-size: 1.3em;
  }
}

.smoothies-content {
  display: flex;
  justify-content: space-around;
  h2 {
    color: lightgrey;
    font-size: 1.3em;
  }
}

.chauds-content {
  display: flex;
  justify-content: space-around;
  h2 {
    color: lightgrey;
    font-size: 1.3em;
  }
}

.manger-content {
  display: flex;
  justify-content: space-around;
  h2 {
    color: lightgrey;
    font-size: 1.3em;
  }
}

.closed {
  display: none;
}
