html,
body {
  background-color: #273041;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 48, 65, 0.5))), url(../img-obubble/ardoise-ms.png);
  background: linear-gradient(rgba(39, 48, 65, 0.5)), url(../img-obubble/ardoise-ms.png);
  background-size: cover;
  background-size: 100%;
}

.itinary-message {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 968px) {
  .itinary-message {
    font-size: 1.5rem;
  }
}

.itinary-message h1 {
  font-size: 2em;
}

@media (min-width: 768px) {
  .itinary-message h1 {
    font-size: 4em;
  }
}

.itinary-message p {
  font-size: 2em;
}

@media (min-width: 768px) {
  .itinary-message p {
    font-size: 3em;
  }
}

.itinary-message .metroLines {
  display: inline;
  margin-right: 1em;
  margin-left: 1em;
}

@media (min-width: 768px) {
  .itinary-message .metroLines {
    margin: 2em;
  }
}

@media (min-width: 968px) {
  .itinary-message .metroLines {
    margin: 3em;
  }
}

.itinary-message .metroLines img {
  width: 6%;
  margin: 1em;
}

@media (min-width: 768px) {
  .itinary-message .metroLines img {
    width: 5%;
    position: relative;
    bottom: 2px;
  }
}

@media (min-width: 968px) {
  .itinary-message .metroLines img {
    width: 4%;
    position: relative;
    bottom: 2px;
  }
}

.itinary-message .metroLines p {
  display: inline;
  font-size: 1.5em;
  position: relative;
  top: 2px;
}

@media (min-width: 768px) {
  .itinary-message .metroLines p {
    font-size: 2.5em;
  }
}

#myMap {
  height: 400px;
  width: 100%;
}

.itinaryAPI {
  padding-top: 2em;
  padding-bottom: 2em;
}

.itinaryAPI a {
  font-size: 1em;
  border: 1px solid #deae3c;
  color: #fff;
  background-color: #ffc001;
  border-radius: 15px;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 768px) {
  .itinaryAPI a {
    font-size: 1.5em;
  }
}

.itinaryAPI a:hover {
  font-size: 1em;
  border: 1px solid #c69521;
  color: #fff;
  background-color: #c69521;
  border-radius: 15px;
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 768px) {
  .itinaryAPI a:hover {
    font-size: 1.5em;
  }
}

.aboutUs {
  background-color: #f1e9e9;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.aboutUs h1 {
  font-size: 1.1em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .aboutUs h1 {
    font-size: 2.3em;
  }
}

.aboutUs p .boldText {
  font-weight: bold;
  text-decoration: none;
}

.aboutUs p span {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .aboutUs p {
    font-size: 2em;
    width: 90%;
    margin: auto;
    line-height: 150%;
  }
}

@media (min-width: 768px) {
  .aboutUs .container-carousel {
    width: 90%;
    margin: 2em auto;
  }
}

@media (min-width: 968px) {
  .aboutUs .container-carousel {
    width: 50%;
  }
}

.aboutUs #my-slider {
  margin-top: 1em;
  margin-bottom: 1em;
}
/*# sourceMappingURL=style-nous-trouver.css.map */