//---------------------  PALETTE  ---------------------//
$colors: (
  primary: #deae3c,
  formules-color: #ffc001,
  dashed-color: #9f9a8d
);

$padding-img: 12px; //why not give percentage but pixels ?
$borders: 15px;
$margin: 25px;
$iphone6: 375px;
$iphone6plus: 414px;
$iphoneX-height: 812px;
$iPad: 768px;
$desktop: 1024px;
$screen: 1300px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin responsive($media) {
  //----------------- Mobiles : until 767px  -----------------//
  @if $media == iphoneSE {
    @media (min-width: 320px) /*and (min-height: 568px) */ {
      @content;
    }
  } @else if $media == iphone6 {
    @media (min-width: 375px) /*and (min-height: 667px) */ {
      @content;
    }
  } @else if $media == iphone6plus {
    @media (min-width: 414px) /*and (min-height: 736px) */ {
      @content;
    }
  } @else if $media == iphoneX {
    @media (min-width: 375px) and (min-height: 812px) {
      @content;
    }
  } @else if $media == galaxyS5 {
    @media (min-width: 350px) and (min-height: 640px) {
      @content;
    }
  }

  //----------------- Tablets : from 768px  -----------------//
  @else if $media == iPad {
    @media (min-width: 768px) {
      @content;
    }
  }

  //----------------- Desktop : from 960px -----------------//

  @else if $media == desktop {
    @media (min-width: 960px) {
      @content;
    }
  } @else if $media == iPadPro {
    @media (min-width: 1024px) and (min-height: 1366px) {
      @content;
    }
  } @else if $media == tvScreen {
    @media (min-width: 1300px) {
      @content;
    }
  }
}

html,
body {
  background-color: #273041;
  background: linear-gradient(rgba(39, 48, 65, 0.5)), url(../img-obubble/ardoise-ms.png);
  background-size: cover;
  background-size: 100%;
}

//--------------------- CATEGORY TEMPLATE ---------------------//

.category {
  border: 1px solid white;
  margin: 0 10px -1px;
  .title {
    h1 {
      color: white;
      padding-left: 0px;
      // border: 1px solid white;
      display: inline-block;
      font-size: 1.3em;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffc001;
      @include responsive(iPad) {
        font-size: 1.5em;
      }
    }
    img {
      width: 15%;
      display: inline-block;
      // border: 1px solid white;
    }
    span {
      float: right;
      color: white;
      position: relative;
      top: 1.3em;
      right: 1.1em;
      @include responsive(iPad) {
        font-size: 1.5em;
        right: 1.8em;
      }
    }
  }
}

//--------------------- CATEGORY TITLES ---------------------//

//README : way smarter to specify just below the general ".category" class template by adding an #id to each one of them.

#formules .title {
  h1 {
    color: white;
    padding-left: 0px;
    // border: 1px solid white;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffc001;
  }
  img {
    width: 15%;
    @include responsive(iPad) {
      width: 10.5%;
    }
  }
}

#bubbleTea .title {
  h1 {
    color: #5b98de;
  }
  img {
    width: 13%;
    padding-bottom: 1em;
    position: relative;
    left: 0.2em;
    top: 0.3em;
    margin-right: 0.4em;
    @include responsive(iPad) {
      width: 10%;
    }
  }
}

#smoothies .title {
  .smoothies-only {
    color: #dd7fd2;
    @include responsive(iphone6) {
      display: none;
    }
  }

  .smoothies-and-milkshakes {
    color: #dd7fd2;
    display: none;
    @include responsive(iphone6) {
      display: inline-block;
    }
  }

  img {
    width: 13%;
    padding-bottom: 1em;
    position: relative;
    top: 0.3em;
    left: 0.2em;
    margin-right: 0.4em;
    @include responsive(iPad) {
      width: 10%;
    }
  }
}

#chauds .title {
  h1 {
    color: #dd5353;
  }
  img {
    width: 13%;
    padding-bottom: 1em;
    position: relative;
    left: 0.2em;
    margin-right: 0.4em;
    @include responsive(iPad) {
      width: 10%;
    }
  }
}

#manger .title {
  h1 {
    color: #fead3a;
    position: relative;
    left: 1rem;
  }
  img {
    width: 10%;
    padding-bottom: 1em;
    position: relative;
    left: 0.7em;
    margin-right: 0.4em;
    @include responsive(iPad) {
      width: 7%;
      right: 100px;
      margin: 7px 10px 7px 7px;
    }
    @include responsive(desktop){
      margin: 7px 2em 7px 7px;
    }
  }
}

//--------------------- CATEGORY CONTENT ---------------------//

.formules-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2em;
  .menuSmall {
    hr {
      border-top: 1px dashed color(dashed-color);
      width: 90%;
      padding-top: 0.5em;
    }
    h1 {
      color: color(formules-color);
      font-size: 1.2em;
      text-align: center;
      text-transform: uppercase;
    }
    img {
      width: 60%;
      display: block;
      margin: auto;
    }
    @include responsive(iPad) {
      display: none;
    }
  }
  .menuLarge {
    display: none;
    @include responsive(iPad) {
      display: block;
    }
  }
}

.bubbleTea-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  .menuSmall {
    img {
      width: 100%;
      display: block;
      margin: auto;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    @include responsive(iPad) {
      display: none;
    }
  }
  .menuLarge {
    display: none;
    @include responsive(iPad) {
      display: block;
    }
  }
}

.smoothies-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  .menuSmall {
    h2 {
      color: lightgrey;
      font-size: 1.3em;
    }
    img {
      width: 100%;
      display: block;
      margin: auto;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    @include responsive(iPad) {
      display: none;
    }
  }
  .menuLarge {
    display: none;
    @include responsive(iPad) {
      display: block;
    }
  }
}

.chauds-content {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
  .menuSmall {
    h2 {
      color: lightgrey;
      font-size: 1.3em;
    }
    img {
      width: 100%;
      display: block;
      margin: auto;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
    @include responsive(iPad) {
      display: none;
    }
  }
  .menuLarge{
    display: none;
    @include responsive(iPad) {
      display: block;
    }
  }
}

.manger-content {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 1em;
  .menuSmall{
    h2 {
      color: lightgrey;
      font-size: 1.3em;
    }
    img {
      width: 100%;
      display: block;
      margin: auto;
      padding-bottom: 0.5em;
    }
    @include responsive(iPad) {
      display: none;
    }
  }
  .menuLarge{
    display: none;
    @include responsive(iPad) {
      display: block;
    }
  }
}

.closed {
  display: none;
}

//------------------footer -----------------------//
.footer {
  margin-top: 2em;
}

//to fix footer position :https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
